*{font-family: 'Titillium Web', sans-serif;}
html, body{
    height: 100%;    
}
.mainScreen{
    height: 100%;
    background: black;
}
header{
    width: 100%;
    height: 5%;
}
.content{
    height: 95%;
}
.weather{
    text-align: center;
    height: 5%;
}
.weather h3{
    
}
.MainText{    
    width: 50%;
    text-align: center;
    margin: auto;
    height: 60%;
}
.search{
    width: 100%;
    height: 30%;
    display: inline-block;
    text-align: center;
}
.search input{
    width: 50%;
    margin: auto;
}
.search button{
    width: 10%;
}
#MainBrowser{
	text-align: center;
}
.flipInX{
	-webkit-animation-delay:0.5s;
}
.features{
    height: 100%;
}
